/* Just to debug components. */
/* *
{
    border: 1px dashed red;
} */

/* Adding a clear fix class to make sure the section doesn't get too small for the image. */
.clearfix::after
{
    content: "";
    clear: both;
    display: table;
}

/* Setting my geometric minimalist background. */
body
{
    background-image: url("../Images/background.png");
    padding-bottom: 60px;
}

/* Setting rules for my main content section. */
section
{
    margin-top: 48px;
    border: 1px solid cadetblue;
    border-radius: 1%;
    padding: 16px;
    background-color: white;
}

/* Formatting my section header. */
h1
{
    font-family: 'Roboto Slab', serif;
    color: cadetblue;
}

/* Formatting my picture in "about me". */
img
{
    float: left;
    margin: 0px 20px 20px 0px;
    width: 200px;
    height: 200px;
}

/* Adding some padding to our form. */
form
{
    padding-left: 16px;
    padding-right: 15%;
}

/* Adds padding to the right of the form untill the xs breakpoint, then it mirrors the left padding. */
@media (max-width: 576px)
{
    form
    {
        padding-right: 16px;
    }
}

/* Formatting my footer. */
footer
{
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 6px solid cadetblue;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: darkslategray;
    text-align: center;
    color: cadetblue;
}

/* Altering the container class from Bootstrap to give me the responsiveness without centering the section. */
.container
{
    margin-right: 0;
    margin-left: 16px;
}

/* I needed to add this to make the nav items stay to the right, not completely sure why. */
.navbar-collapse
{
    flex-grow: 0;
}

/* Added a button class for my chosen color scheme. */
.btn-custom
{
    color: white;
    background-color: cadetblue;
    border-color: cadetblue;
}

/* Over writting Bootstrap rules for my name in the nav bar. */
#nameIcon
{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5%;
    background-color: cadetblue;
    font-family: 'Roboto Slab', serif;
    color: white;
}

/* Some custom colors for the links in my socials area. */
#socials > li > a:link
{
    color: cadetblue;
}

/* Some custom colors for the links that are visited in my socials area. */
#socials>li>a:visited
{
    color: rgb(54, 92, 94);
}
